<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日程提醒 | {{.Title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .reminder {
            text-align: center;
        }

        .title {
            font-size: 36px;
        }

        .time {
            color: gray;
        }
    </style>
</head>
<body>
<div class="reminder">
    <h1 class="title">📅日程提醒</h1>
    <p>亲爱的用户，你有一个任务：</p>
    <h4>{{.Title}}</h4>
    <p>在 <span class="time">{{.Time}}</span> 开始，请确保它在您的日程中。</p>
</div>
</body>
</html>